html
    
        p {
            text-align: center;
        }

        header {
            background-color: rgb(55, 136, 112);
            border: 5px solid black;
        }

        section {
            background-color: rgb(42, 147, 165);
            border: 3px solid green;
        }

        footer {
            background-color: rgb(153, 54, 87);
            border: 3px solid blue;
        }
        footer h1 {
            text-align: left;
        }
    
